{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/styles/global.css",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80
}
